@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

body {
  background-color: #fefefe;
}

.order-block__form a, .food-block__button a, .discover-block__content a, .title-block__content a {
  font-size: 16pt;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  background-color: #f13c9e;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  width: 30%;
  border: 1px #f13c9e solid;
}
.order-block__form a:hover, .food-block__button a:hover, .discover-block__content a:hover, .title-block__content a:hover {
  color: #f02995;
  background-color: #ffffff;
}

.header {
  padding: 35px 0 40px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}
.header__wrapper a {
  font-size: 35pt;
  color: #464646;
  font-family: Philosopher;
  font-weight: 700;
  text-decoration: none;
}
.header__wrapper nav {
  width: 50%;
}
.header__wrapper nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.header__wrapper nav ul a {
  font-size: 18pt;
  color: #464646;
  font-family: Arimo;
  font-weight: 400;
  text-decoration: none;
}
.header__wrapper nav ul a:hover {
  color: #f46cb6;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
.title-block {
  background-image: url("../img/image-cake.png");
  background-size: cover;
  background-position: center;
  padding: 110px 0 50px;
}
.title-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.title-block__content {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.title-block__content h2 {
  font-size: 66pt;
  color: #333333;
  font-family: Lobster;
  font-weight: 400;
  text-decoration: none;
}
.title-block__content p {
  font-size: 18pt;
  color: #454545;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  margin: 60px 0 75px;
  width: 80%;
}
.slider-block {
  padding: 60px 0 100px;
}
.slider-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-block__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-block__count nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider-block__count nav ul li:nth-child(2) {
  padding: 100% 0;
}
.slider-block__count nav ul li a {
  font-size: 18pt;
  color: #454545;
  font-family: Arimo;
  font-weight: 400;
  text-decoration: none;
}
.slider-block__count nav ul li a:hover {
  text-decoration: underline;
  color: #f02995;
}
.slider-block__blocks {
  width: 40%;
}
.slider-block__blocks ul li div {
  width: 150px;
  height: 150px;
}
.slider-block__blocks ul li:first-child {
  background-color: #fac1e0;
}
.slider-block__blocks ul li:nth-child(2) {
  background-color: #f792c8;
}
.slider-block__blocks ul li:last-child {
  background-color: #f13c9e;
}

.discover-block {
  padding: 100px 0;
}
.discover-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discover-block__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discover-block__video iframe {
  width: 470px;
  height: 510px;
}
.discover-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
}
.discover-block__content h2 {
  font-size: 44pt;
  color: #363636;
  font-family: Lobster;
  font-weight: 400;
  text-decoration: none;
}
.discover-block__content p {
  font-size: 18pt;
  color: #939393;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  margin: 40px 0;
}
.food-block {
  padding: 100px 0;
  text-align: center;
}
.food-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.food-block__title h2 {
  font-size: 44pt;
  color: #363636;
  font-family: Lobster;
  font-weight: 400;
  text-decoration: none;
}
.food-block__title p {
  font-size: 18pt;
  color: #939393;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  margin: 20px auto 40px;
  width: 57%;
}
.food-block__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.food-block__blocks .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.food-block__blocks .row div {
  border-radius: 10px 10px 0 0;
}
.food-block__blocks .first-row div {
  background-color: #f13c9e;
  width: calc(50% - 30px);
  height: 380px;
}
.food-block__blocks .second-row div {
  background-color: #f13c9e;
  width: calc(33% - 30px);
  height: 360px;
}
.food-block__blocks .second-row div:nth-child(2) {
  background-color: #df67b8;
  position: relative;
}
.food-block__blocks .second-row div:nth-child(2) p {
  position: absolute;
  left: 35px;
  display: none;
}
.food-block__blocks .second-row div:nth-child(2) .price {
  font-size: 28pt;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
  top: 250px;
}
.food-block__blocks .second-row div:nth-child(2) .name {
  font-size: 20pt;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  top: 300px;
}
.food-block__blocks .second-row div:hover p {
  display: block;
}
.food-block__button {
  margin: 60px 0 0 0;
}
.baker-block {
  padding: 100px 0;
}
.baker-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.baker-block__baker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}
.baker-block__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 33%;
}
.baker-block__photo .frame {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px #000000 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.baker-block__photo .name {
  font-size: 25pt;
  color: #000000;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0;
}
.baker-block p {
  font-size: 18pt;
  color: #585858;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  width: 67%;
}
.baker-block__arrows {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  margin: 0 auto;
}

.order-block {
  padding: 100px 0;
}
.order-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order-block__form {
  width: 45%;
}
.order-block__form h2 {
  font-size: 44pt;
  color: #303030;
  font-family: Lobster;
  font-weight: 400;
  text-decoration: none;
}
.order-block__form p {
  font-size: 18pt;
  color: #939393;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  margin: 40px 0;
}
.order-block__form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}
.order-block__form .inputs input {
  font-size: 14pt;
  color: #636363;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  width: calc(50% - 20px);
  padding: 10px;
}
.order-block__form .inputs input:last-child {
  width: 100%;
  margin: 20px 0 60px;
  padding-left: 15px;
}
.order-block__photo {
  width: 670px;
  height: 530px;
  background-color: #f02995;
}

.lists-block {
  padding: 100px 0 0;
}
.lists-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lists-block__wrapper ul {
  list-style: none;
}
.lists-block__wrapper ul a {
  text-decoration: none;
}
.lists-block__contact-list {
  width: 23%;
}
.lists-block__contact-list ul {
  padding: 0;
  margin: 0;
}
.lists-block__contact-list ul li {
  margin: 20px 0;
}
.lists-block__contact-list ul li:first-child {
  font-size: 35pt;
  color: #464646;
  font-family: Philosopher;
  font-weight: 700;
  text-decoration: none;
}
.lists-block__contact-list ul li:nth-child(2) {
  font-size: 16pt;
  color: #707070;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  padding: 0 0 0 20px;
  background: url("../icons/call.png") 0 no-repeat;
}
.lists-block__contact-list ul li:nth-child(3) {
  font-size: 16pt;
  color: #707070;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  padding: 0 0 0 20px;
  background: url("../icons/mail.png") 0 no-repeat;
}
.lists-block__contact-list ul li:nth-child(4) {
  font-size: 16pt;
  color: #707070;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
  padding: 0 0 0 20px;
  background: url("../icons/location.png") 0 no-repeat;
}
.lists-block__contact-list ul li:last-child {
  background-color: #f02995;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}
.lists-block__site-lists {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lists-block__site-lists ul li {
  margin-top: 25px;
}
.lists-block__site-lists ul li a {
  font-size: 18pt;
  color: #707070;
  font-family: Poppins;
  font-weight: 400;
  text-decoration: none;
}
.lists-block__site-lists ul li a:hover {
  color: #f02995;
}
.lists-block__site-lists ul li:first-child a {
  font-size: 20pt;
  color: #484848;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
}
.lists-block__site-lists ul li:first-child a:hover {
  color: #f02995;
  margin: 0;
}

.footer {
  padding: 90px 0;
}
.footer__wrapper {
  font-size: 14pt;
  color: #1d1d1d;
  font-family: Arimo;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}