.order-block{
    padding: 100px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__form{
        width: 45%;
        h2{
            @include font(44pt, #303030, Lobster, 400);
        }
        p{
            @include font(18pt, #939393, Poppins, 400);
            margin: 40px 0;
        }
        .inputs{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;
            input{
                @include font(14pt, #636363, Poppins, 400);
                width: calc(50% - 20px);
                padding: 10px;
                &:last-child{
                    width: 100%;
                    margin: 20px 0 60px;
                    padding-left: 15px;
                }
            }
        }
        a{
            @extend %button;
        }
    }
    &__photo{
        width: 670px;
        height: 530px;
        background-color: #f02995;
    }
}
