@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
</style>

body{
    background-color: #fefefe;
}
header nav{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    max-height: 100px;
    height: auto;
    justify-content: space-between;
}
header nav .logo{
    font-family: 'Philosopher', sans-serif;
    font-size: 35px;
    color: #575757;
    padding: 25px 0 40px 135px;
}
header nav a{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color: #575757;
    text-decoration: none;
    margin-top: 40px;
}
header nav .main{
    margin-left: 500px;
}
header nav .login{
    color: #f24da8;
}
header nav img{
    width: 30px;
    height: 30px;
    margin: 40px 135px 35px 80px;
}
main{
    margin-bottom: 220px;
}
.container__top{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}
.container__top text{
    width: 600px;
    height: 450px;
}
.container__top .title{
    font-family: 'Lobster';
    font-size: 45px;
    margin: 50px 30px 0 135px;
    color: #454545;
}
.container__top img{
    width: 860px;
    height: 610px;
    margin-right: 40px;
}
.container__top .description{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 30px 30px 0 135px;
    color: #454545;
}
.container__top button {
    margin: 60px 0 0 135px;
    height: 50px;
    width: 155px;
    background-color: #f13c9e;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.container__slider{
    margin-top: 80px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}
.container__slider li{
    list-style: none;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    margin-top: -10px;
}
.container__slider li ul{
    cursor: pointer;
}
.container__slider li ul:first-child{
    text-decoration: underline;
    color: #f56db7;
    margin-bottom: 40px;
    margin-top: 0;
}
.container__slider li ul:nth-child(2){
    color: #cdcdcd;
    margin-top: 0;
    margin-bottom: 20px;
}
.container__slider li ul:nth-child(3){
    color: #cdcdcd;
    margin-top: 0;
}
.container__slider .slider__elems{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-right: 80px;
    width: 550px;
    justify-content: space-between;
}
.square{
    width: 157px;
    height: 134px;
    border-radius: 7px 7px 0 0;
}
#first{
    background-color: #fac1e0;
}
#second{
    background-color: #f792c8;
}
#third{
    background-color: #f13c9e;
}
.container__content{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.container__content .content__video{
    width: 480px;
    height: 510px;
    background-color: #f13c9e;
    border-radius: 15px 15px 0 0;
    position: absolute;
    left: 135px;
}
.container__content .content__video .play{
    background-color: #f9b1d8;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
    top: 180px;
    left: 180px;
}
.container__content .content__video .play .play__inside{
    background-color: #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: relative;
    top: 25px;
    left: 25px;
}
.container__content .content__video .play .play__inside img{
    position: relative;
    top: 30px;
    left: 30px;
    cursor: pointer;
}
.container__content .content__text{
    width: 650px;
    margin-left: 600px;
}
.container__content .content__text .content__title{
    font-family: 'Lobster';
    font-size: 45px;
    margin: 50px 30px 0 135px;
    color: #454545;
}
.container__content .content__text .content__desc{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 30px 30px 0 135px;
    color: #454545;
}
.container__content .content__text button{
    margin-left: 135px;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border: 1px #f02995 solid;
    color: #f02995;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.help{
    height: 1000px;
}
.container__gallery{
    margin-top: 200px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__gallery .gallery__title{
    font-family: 'Lobster';
    font-size: 44px;
    margin: 0 30px 0 135px;
    color: #454545;
}
.container__gallery .gallery__description{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 30px 30px 0 135px;
    color: #454545;
}
.container__gallery .gallery__photos__first{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 1170px;
}
.container__gallery .gallery__photos__first .photo{
    background-color: #f13c9e;
    height: 380px;
    width: 48%;
    border-radius: 8px 8px 0 0;
}
.container__gallery .gallery__photos__second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 1170px;
}
.container__gallery .gallery__photos__second .photo{
    background-color: #f13c9e;
    height: 360px;
    width: 370px;
    border-radius: 8px 8px 0 0;
}
#selected{
    background-color: #df67b8;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: left;
    padding-left: 35px;
    padding-top: 255px;
}
#price{
    font-size: 28px;
}
#cake{
    font-size: 20px;
}
.container__gallery button{
    margin-top: 60px;
    width: 150px;
    height: 50px;
    border: 1px #f02995 solid;
    color: #f02995;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.container__nusrat{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    margin: 450px auto 0 auto;
    width: 800px;
}
.container__nusrat .nursat__main{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    height: 210px;
    justify-content: space-between;
}
.container__nusrat .nursat__main .nursat__ellipse{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px #bababa solid;
}
.container__nusrat .nursat__main .nursat__ellipse img{
    margin: 10px 0 0 10px;
}
.container__nusrat .nursat__text{
    margin: 40px 0 0 65px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #bababa;
}
.arrows{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    margin-top: 185px;
}
.arrows img{
    padding: 0 65px;
    cursor: pointer;
}
.container__order{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 290px;
}
.container__order .order__form{
    margin: 10px 130px 100px 135px;
}
.container__order .order__form .form__title{
    font-family: 'Lobster';
    font-size: 44px;
    color: #454545;
    width: 425px;
}
.container__order .order__form .form__desc{
    margin: 40px 0 60px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #bababa;
}
.container__order .order__form .order__datetime input[type="date"]{
    width: 185px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #bababa;
    padding-right: 15px;
    text-align: center;
    margin-right: 17.5px;
}
.container__order .order__form .order__datetime input[type="time"]{
    width: 185px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #bababa;
    padding-right: 15px;
    text-align: center;
    margin-left: 17.5px;
}
.container__order .order__form .order__datetime input[type="text"]{
    width: 410px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #bababa;
    margin-top: 25px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.container__order .order__form button{
    height: 50px;
    width: 155px;
    background-color: #f13c9e;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.container__order .order__screen{
    width: 660px;
    height: 530px;
    background-color: #f02995;
    margin-right: 140px;
}
footer .lists{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}
footer .lists{
    margin: 50px 240px 0 240px;
}
footer .lists .list__contacts li:nth-child(1){
    font-family: 'Philosopher', sans-serif;
    font-size: 35px;
    color: #464646;
    margin-bottom: 30px;
}
footer .lists .list__contacts li:nth-child(2){
    background: url(icons/call.png) 0 no-repeat;
    padding: 0 0 0 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}
footer .lists .list__contacts li:nth-child(3){
    background: url(icons/mail.png) 0 no-repeat;
    padding: 0 0 0 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}
footer .lists .list__contacts li:nth-child(4){
    background: url(icons/location.png) 0 no-repeat;
    padding: 0 0 0 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}
footer .lists .list__home li:nth-child(n+1){
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}
footer .lists .list__home li:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #484848;
    margin-bottom: 20px;
}
footer .lists .list__get__started li:nth-child(n+1){
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}
footer .lists .list__get__started li:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #484848;
    margin-bottom: 20px;
}
footer .lists .list__terms li:nth-child(n+1){
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #818181;
    margin-bottom: 20px;
}
footer .lists .list__terms li:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #484848;
    margin-bottom: 25px;
}
footer .social{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 185px;
    margin-left: 240px;
}
footer .social img:nth-child(n+1){
    margin-top: 7px;
    cursor: pointer;
    margin-bottom: 5px;
}
footer .social .social__facebook{
    margin-top: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #f02995;
}
footer .social img:nth-child(1){
    margin-top: 7px;
    cursor: pointer;
    margin: 6px auto;
    width: 12px;
    height: 20px;
}
footer .copiright{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 95px;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    color: #cdcac8;
}
