.header{
    padding: 35px 0 40px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        a{
            @include font(35pt, #464646, Philosopher, 700);
        }
        nav{
            width: 50%;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0;
                a{
                    @include font(18pt, #464646, Arimo, 400);
                    &:hover{
                        color: #f46cb6;
                    }
                }
            }
        }
    }
}
