.lists-block{
    padding: 100px 0 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        ul{
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
    &__contact-list{
        width: 23%;
        ul{
            padding: 0;
            margin: 0;
            li{
                margin: 20px 0;
                &:first-child{
                    @include font(35pt, #464646, Philosopher, 700);
                }
                &:nth-child(2){
                    @include font(16pt, #707070, Poppins, 400);
                    padding: 0 0 0 20px;
                    background: url("../icons/call.png") 0 no-repeat;
                }
                &:nth-child(3){
                    @include font(16pt, #707070, Poppins, 400);
                    padding: 0 0 0 20px;
                    background: url("../icons/mail.png") 0 no-repeat;
                }
                &:nth-child(4){
                    @include font(16pt, #707070, Poppins, 400);
                    padding: 0 0 0 20px;
                    background: url("../icons/location.png") 0 no-repeat;
                }
                &:last-child{
                    background-color: #f02995;
                    border-radius: 30px;
                    display: flex;
                    justify-content: space-around;
                    padding: 10px 0;
                }
            }
        }
    }
    &__site-lists{
        width: 60%;
        display: flex;
        justify-content: space-between;
        ul{
            li{
                margin-top: 25px;
                a{
                    @include font(18pt, #707070, Poppins, 400);
                    &:hover{
                        color: #f02995;
                    }
                }
                &:first-child a{
                    @include font(20pt, #484848, Poppins, 600);
                    &:hover{
                        color: #f02995;
                        margin: 0;
                    }
                }
            }
        }
    }
}
