.discover-block{
    padding: 100px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__video{
        display: flex;
        justify-content: center;
        align-items: center;
        iframe{
            width: 470px;
            height: 510px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 55%;
        h2{
            @include font(44pt, #363636, Lobster, 400);
        }
        p{
            @include font(18pt, #939393, Poppins, 400);
            margin: 40px 0;
        }
        a{
            @extend %button;
        }
    }
}
